<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<!---->
	<connectionStrings>
		<!-- name: El nombre de la cadena de conexión. Debe coincidir con el nombre que usarás en tu DbContext.-->
		<!-- connectionString: La cadena de conexión a tu base de datos. Aquí defines el servidor, la base de datos, y la seguridad.-->
		<!-- providerName: El proveedor de datos utilizado, que en el caso de SQL Server es System.Data.SqlClient.-->

		<!-- 
			Data Source = Especifica el servidor de base de datos al que te estás conectando.
			Initial Catalog = Especifica el nombre de la base de datos a la que quieres conectarte.
			Integrated Security = Indica que se debe usar la autenticación de Windows para conectarse a la base de datos. 
								  Si fuera False, tendrías que proporcionar un nombre de usuario y una contraseña.
		-->
		<add name="MiDbContext"
             connectionString="Data Source=DESKTOP-UTA972M\SQLEXPRESS;Initial Catalog=db_tstore;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>